<h2>Users Table</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(product => { %>
        <tr>
            <td>
                <a href="<%= `/products/${product.nameId}` %>">
                    <%= product.name %>
                </a>
            </td>
            <td><%= product.description %></td>
            <td>$<%= product.price %></td>
            <td>
                <a href="<%=`/products/${product._id}/edit` %>">
                    Edit
                </a>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>