<h2>Products Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture</th>
      <th>Description</th>
      <th>Price</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="<%= `/products/${product.nameId}` %>">
          <%= product.name %>
        </a>
      </td>
      <td>
        <%= product.picture %>
      </td>

      <td>
        <%= product.description %>
      </td>

      <td>
        <%= product.price %>
      </td>
    </tr>
  </tbody>
</table>
